<div class="main">
    <div class="hold-clients">
        <div class="hold-logo">
            <img src="./../../../../assets/dark_theme_main.jpeg" alt="" srcset="">
        </div>

        <h1>CLIENTES</h1>

        <table>
            <tr>
                <th>NOME</th>
                <th>TELEFONE</th>
            </tr>           
            <tr *ngFor="let user of users">
                <td>{{user.userName}}</td>
                <td>{{user.userPhone}}</td>
            </tr> 
        </table>
    </div>
</div>