.list-clients-main {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: absolute;
    right: 0;
    width: 80%;
    min-height: 100%;
    color: #eee;
    overflow: auto;
}

.hold-clients {
    width: 100%;
}

h1 {
    margin: 1.2em;
    text-align: center;
}

table {
    width: 100%;
    border-collapse: collapse;
}

tr:nth-child(even) {
    background-color: #eee;
    color: #000;
}

td,
th {
    padding: 1em;
    text-align: center;
}

@media only screen and (max-width: 600px) {
    .list-clients-main {
        width: 90%;
    }

    td,
    th {
        font-size: 0.9rem;
    }
}