<div class="main-scheduling">
    <div class="hold-scheduling">

        <app-logged-header title="AGENDAR"></app-logged-header>

        <form [formGroup]="form">
            <mat-calendar [(selected)]="selected" [minDate]="minDate" class="calendar" (click)="getData()">
            </mat-calendar>

            <div>
                <fieldset>
                    <legend>HORÁRIOS DISPONÍVEIS</legend>
                    <div *ngIf="schedules.length <= 0" class="empty">
                        <span *ngIf="errors.size <= 0">ESCOLHA UM DIA</span>
                        <span *ngIf="errors.size > 0" class="error">{{errors.get(CONSTANTS.Errors.ERROR)}}</span>
                    </div>
                    <div *ngFor="let schedule of schedules">
                        <div class="selectable-schedule" [id]="schedule.daytimeid">
                            <label [for]="schedule.daytimestart">{{schedule.daytimepretty}}</label>
                            <input type="radio" [id]="schedule.daytimestart" name="schedule" formControlName="schedule"
                                [value]="schedule.daytimestart" (change)="selectDiv(schedule.daytimeid)">
                        </div>
                    </div>
                </fieldset>
            </div>


            <div>
                <fieldset>
                    <legend>SERVIÇOS</legend>
                    <div *ngIf="services.length <= 0" class="empty">
                        <span *ngIf="schedules.length <= 0 && errors.size <= 0">ESCOLHA UM DIA</span>
                        <span *ngIf="errors.size <= 0 && schedules.length > 0">NÃO HÁ SERVIÇOS CADASTRADOS</span>
                        <span *ngIf="errors.size > 0" class="error">{{errors.get(CONSTANTS.Errors.ERROR)}}</span>
                    </div>
                    <div *ngFor="let service of services">
                        <div class="selectable-service" [id]="service.serviceid">
                            <label [for]="service.servicedescription">{{service.servicedescription}}</label>
                            <input type="radio" [id]="service.servicedescription" name="service"
                                [value]="service.servicedescription" formControlName="service"
                                (change)="selectService(service.serviceid)">
                        </div>
                    </div>
                </fieldset>
            </div>

            <div *ngIf="userInfo?.get(CONSTANTS.Keys.ROLE) === CONSTANTS.Roles.ADMIN">
                <fieldset>
                    <legend>TELEFONE DO USUÁRIO</legend>
                    <div>
                        <input type="tel" name="phone" id="phone" formControlName="userPhone" placeholder="Telefone" title="Telefone - (35) 9 9898-9898" mask="(00) 0 0000-0000" [dropSpecialCharacters]="false">

                    </div>
                </fieldset>
            </div>

            <div class="hold-button">
                <button class="final-action-button" (click)="createOrder()">AGENDAR</button>
            </div>

        </form>
    </div>
</div>