<div class="main-scheduling">
    <div class="hold-scheduling">

        <app-logged-header title="AGENDAR"></app-logged-header>

        <form [formGroup]="form">
            <mat-calendar [(selected)]="selected" [minDate]="minDate" class="calendar" (click)="getData()">
            </mat-calendar>

            <div>
                <fieldset>
                    <legend>HORÁRIOS DISPONÍVEIS</legend>

                    <select name="schedule" id="" formControlName="schedule">
                        <option value="" disabled selected>HORÁRIOS</option>

                        <option *ngIf="schedules.length <= 0 && errors.size <= 0" disabled selected>ESCOLHA UM DIA
                        </option>

                        <option *ngIf="errors.size > 0" class="error" disabled selected>
                            {{errors.get(CONSTANTS.Errors.ERROR)}}</option>

                        <option [value]="schedule.daytimeid" *ngFor="let schedule of schedules">
                            {{schedule.daytimepretty}}
                        </option>

                    </select>

                </fieldset>
            </div>


            <div>
                <fieldset>
                    <legend>SERVIÇOS</legend>
                    <select name="service" id="" formControlName="service">
                        <option value="" disabled selected>SERVIÇOS</option>

                        <option *ngIf="schedules.length <= 0 && errors.size <= 0" disabled selected>ESCOLHA UM DIA
                        </option>

                        <option *ngIf="errors.size <= 0 && services.length <= 0 && schedules.length > 0" disabled
                            selected>NÃO HÁ SERVIÇOS CADASTRADOS</option>

                        <option *ngIf="errors.size > 0" class="error" disabled selected>
                            {{errors.get(CONSTANTS.Errors.ERROR)}}</option>

                        <option [value]="service.serviceid" *ngFor="let service of services">
                            {{service.servicedescription}}
                        </option>

                    </select>
                </fieldset>
            </div>

            <div *ngIf="userInfo?.get(CONSTANTS.Keys.ROLE) === CONSTANTS.Roles.ADMIN">
                <fieldset>
                    <legend>TELEFONE DO USUÁRIO</legend>
                    <div>
                        <input type="tel" name="phone" id="phone" formControlName="userPhone" placeholder="Telefone"
                            title="Telefone - (35) 9 9898-9898" mask="(00) 0 0000-0000" [dropSpecialCharacters]="false">

                    </div>
                </fieldset>
            </div>

            <div class="hold-button">
                <button class="final-action-button" (click)="createOrder()">AGENDAR</button>
            </div>

        </form>
    </div>
</div>