<div class="main"> 
    <h1>VALORES</h1>
    <div class="side-side">
        <div class="hold-icon">
            <img src="./../../../assets/cost.png" alt="barber location">        
        </div>
        <div class="hold-prices">
            <table>
                <tr>
                    <td>BARBA</td>
                    <td>R$10.00</td>
                </tr>
                <tr>
                    <td>CORTE</td>
                    <td>R$25.00</td>
                </tr>
                <tr>
                    <td>PEZINHO</td>
                    <td>R$05.00</td>
                </tr>
            </table>                                               
        </div>
    </div>    
</div>