<div class="main">
    <div class="hold-next-clients">
        
        <div class="hold-logo">
            <img src="./../../../../assets/dark_theme_main.jpeg" alt="" srcset="">
        </div>

        <h1>PRÓXIMOS CLIENTES</h1>
        <table>
            <tr>
                <th>CLIENTE</th>
                <th>TELEFONE</th>
                <th>SERVIÇO</th>
                <th>VALOR</th>
                <th>DIA</th>
                <th>HORÁRIO</th>
            </tr>      
            <tr>
                <td>ALVARO</td>
                <td>35999999999</td>
                <td>CORTE</td>
                <td>R$25.00</td>
                <td>22-04-2022</td>
                <td>12:45-13:30</td>
            </tr>      
            <tr>
                <td>GOHAN</td>
                <td>37984687755</td>
                <td>CORTE</td>
                <td>R$25.00</td>
                <td>22-04-2022</td>
                <td>13:30-14:30</td>
            </tr> 

            <tr>
                <td>MAICO</td>
                <td>3578765423</td>
                <td>CORTE</td>
                <td>R$25.00</td>
                <td>23-04-2022</td>
                <td>13:30-14:30</td>
            </tr>    
        </table>
    </div>
</div>