<div class="main">
    <div class="hold-next-clients">
        
        <app-logged-header title="PRÓXIMOS CLIENTES"></app-logged-header>

        <table>
            <tr>
                <th>CLIENTE</th>
                <th>DIA</th>
                <th>HORÁRIO</th>
                <th>SERVIÇO</th>
                <th>VALOR</th>
            </tr>      
            <tr>
                <td>ALVARO</td>
                <td>22-04-2022</td>
                <td>12:45-13:30</td>
                <td>CORTE</td>
                <td>R$25.00</td>
            </tr>      
            <tr>
                <td>GOHAN</td>                
                <td>22-04-2022</td>
                <td>13:30-14:30</td>
                <td>CORTE</td>
                <td>R$25.00</td>
            </tr> 

            <tr>
                <td>MAICO</td>                
                <td>23-04-2022</td>
                <td>13:30-14:30</td>
                <td>CORTE</td>
                <td>R$25.00</td>
            </tr>    
        </table>
    </div>
</div>