<div class="logged-home-main">
    <div class="hold-next-clients">

        <app-logged-header title="PRÓXIMOS CLIENTES"></app-logged-header>

        <table>
            <tr>
                <th>CLIENTE</th>
                <th>SERVIÇO</th>
                <th>HORÁRIO</th>
                <th>DIA</th>
                <th>AÇÕES</th>
            </tr>
            <tr *ngIf="nextOrders.length <= 0">
                <td colspan="5">SEM PRÓXIMOS AGENDAMENTOS</td>
            </tr>
            <tr *ngFor="let order of nextOrders">
                <td>{{order.order_username}}</td>
                <td>{{order.order_servicedescription}}</td>
                <td>{{order.daytimepretty}}</td>
                <td>{{order.daytimeday | date: 'dd/MM/yyyy'}}</td>
                <td class="action" *ngIf="order.canCancelOrder" (click)="cancelOrder(order)">
                    CAN<wbr>CE<wbr>LAR
                </td>
                <td class="ok" *ngIf="!order.canCancelOrder">OK</td>
            </tr>
        </table>
    </div>
</div>