li{
    list-style: none;
    display: inline-block;
    padding: 1.0em;
    margin: 0;    
}
li:hover{
    background-color: #000;
    background-color: #bdbdbd;
    color: #000;
}
a{
    text-decoration: none;
    color: #bdbdbd;
}


.menu-right{
    float: right;
}