<nav>
    <ul>
        <a routerLink="/home"> <li routerLinkActive="active"> HOME </li>  </a> 
        <a routerLink="/ads"> <li routerLinkActive="active"> DIVULGAÇÕES </li> </a> 
        <a routerLink="/prices"> <li routerLinkActive="active"> VALORES </li> </a> 
        <a routerLink="/location"> <li routerLinkActive="active"> LOCAL </li> </a>
        <a routerLink="/signup"> <li class="menu-right" routerLinkActive="active"> CADASTRAR </li> </a> 
        <a href=""> <li class="menu-right" routerLinkActive="active"> ENTRAR </li> </a> 
    </ul>
</nav>