<div class="main">
    <div class="hold-add-ads">

        <div class="hold-logo">
            <img src="./../../../../assets/dark_theme_main.jpeg" alt="Logotipo" srcset="">
        </div>

        <h1>ADICIONAR DIVULGAÇÕES</h1>

        <form [formGroup]="form">
            <div class="text-area">
                <textarea name="text-area" id="text-area" cols="60" rows="20" class="text-area"
                    placeholder="ESCREVA NOVAS DIVULGAÇÕES" formControlName="ad">                       
                </textarea>
            </div>

            <div class="hold-button">
                <button type="button" class="final-action-button" (click)="createAd()" >CRIAR</button>
            </div>

        </form>
    </div>
</div>