nav{
    width: 20%;
    float: left;
}
li{
    padding: 1.2em;
    color: #eee;
    cursor: pointer;
}
li:hover{
    background-color: #eee;
    color: #000;
}
a{
    text-decoration: none;
}

.input-icons{
    margin-right: 5%;
}