<div class="main">

    <div class="hold-icon">
        <img src="./../../assets/bg2.jpg" alt="logo">
    </div>

    <div class="hold-form">
        <form action="">

            <div>
                <label for="">Usuário</label>
                <input type="text">
            </div>

            <div>
                <label for="">Email</label>
                <input type="email">
            </div>

            <div>
                <label for="">Telefone</label>
                <input type="tel">
            </div>

            <div>
                <label for="">Senha</label>
                <input type="password" name="" id="">
            </div>


            <div>
                <label for="">Confirmar senha</label>
                <input type="password" name="" id="">
            </div>

            <div>
                <input type="submit" value="ENVIAR">
            </div>
            
        </form>
    </div>

</div>