<div class="main">

    <div class="hold-logo">
        <img src="./../../assets/bg2.jpg" alt="logo">
    </div>

    <div class="hold-form">

        <h1>CADASTRO</h1>
        <form action="">

            <div class="input-container">
                <label for="username">
                    <fa-icon [icon]="icons.get('faFileSignature')" class="input-icons"></fa-icon>
                </label>                
                <input type="text" id="username" placeholder="Nome ou Apelido">
            </div>

            <div class="input-container">
                <label for="email">
                    <fa-icon [icon]="icons.get('faEnvelope')" class="input-icons"></fa-icon>
                </label>                
                <input type="email" id="email" placeholder="Email">
            </div>

            <div class="input-container">
                <label for="">
                    <fa-icon [icon]="icons.get('faPhone')" class="input-icons"></fa-icon>
                </label>                
                <input type="tel" placeholder="Telefone">
            </div>

            <div class="input-container">
                <label for="psw">
                    <fa-icon [icon]="icons.get('faLock')" class="input-icons"></fa-icon>
                </label>                
                <input type="password" name="" id="psw" placeholder="Senha">
            </div>


            <div class="input-container">
                <label for="confirmPsw">
                    <fa-icon [icon]="icons.get('faCheck')" class="input-icons"></fa-icon>
                </label>                
                <input type="password" name="" id="confirmPsw" placeholder="Confirmar senha">
            </div>

            <div>
                <input type="submit" value="ENVIAR">
            </div>

        </form>
    </div>

</div>