<div class="main">
    <div class="hold-profile">
        <div class="hold-logo">
            <img src="./../../../../assets/dark_theme_main.jpeg" alt="Logotipo" srcset="">
        </div>

        <h1>PERFIL</h1>

        <div class="profile-box">

            <div class="side-by-side">
                <div class="hold-profile-image">
                    <img src="../../../../assets/barber.ico" alt="Imagem do perfil">
                </div>
    
                <div class="side-image-information">
                    <input type="text" name="" id="" value="MANO ALVARO">
                    <input type="text" name="" id="" value="(35) 9 9999-9999">  
                    <input type="text" name="" id="" value="alvaro.email@email.com">  
                </div>
            </div>            

            <div class="below-image-information"> 
                <input type="text" name="" id="" value="side">
                <input type="text" name="" id="" value="(35) 9 9999-9999">
                
            </div>

            <div class="">

            </div>

        </div>

    </div>
</div>