.main{
    height: 100%;
    width: 100%;    
}
.hold-image{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 1.2em;
}
img{
    width: 80%;
}

@media only screen and (max-width: 600px) { 
    .hold-image{
        margin-top: 45%;
    }
    img{
        width: 100%;
    }
}