.main {
    height: 100%;
    width: 100%;
    overflow: hidden;
}

.hold-image {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 1.2em;
}

img {
    width: 80%;
}

@media only screen and (max-width: 600px) {
    .hold-image {
        margin-top: 30%;
    }

    img {
        width: 150%;
    }
}